ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: black;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 5px;
}

ul li button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
}
